* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body { 
    background: url("../images/landscape.jpg") no-repeat center center fixed;
    background-size: cover;
  }

body, html {
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    background-color: rgba(255, 255, 255, .93);
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .8);
            box-shadow: 0 4px 10px rgba(0, 0, 0, .8);
    z-index: 3;
}

.topbar nav {
    float: left;
}

.topbar nav a {
    color: #9F9F9F;
    font-weight: normal;
    text-decoration: none;
    padding: 0 53px;
}

.topbar nav a:hover, .topbar nav .active {
    color: black;
}

.social {
    float: right;
}

.social a {
    padding: 0 12px;
    opacity: .5;
}

.social a:hover {
    opacity: 1;
}

.about h1 {
    text-transform: uppercase;
}


.about {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 30px;
  text-align: center;
  margin-top: 4%;
}

.card {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }


.row img{
    border-radius: 10px;
}

.card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
  }
  
.container {
    padding: 2px 16px;
  }

.column {
    float: left;
    width: 25%;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 950px) {    
    .about {
        margin-top: 175%;
    }

    .column {
        width: 100%;
    }

    .landscape {
        height: 100%;
        padding-bottom: 475%;
    }

    .topbar {
        position: static;
        background: white;
    }

    .topbar nav, .social {
        float: none;
        text-align: center;
    }

    .topbar nav {
        margin-bottom: 15px;
    }

    .topbar nav a {
        display: inline-block;
        white-space: nowrap;
        margin: 0 20px 5px 20px;
    }
    .body {
        display: block;
    }
    .main {
        width: 100%;
    }
    .main .container {
        overflow: hidden;
    }
}

@media screen and (max-width: 180px) {
    .about {
        margin-top: 350%;
    }
}

@media screen and (max-width: 230px) {
    .about {
        margin-top: 300%
    }

}

@media screen and (max-width: 270px) {
    .about {
        margin-top: 250%;
    }
}

@media screen and (max-width: 310px) {
    .about {
        margin-top: 225%
    }
}

@media screen and (max-width: 475px) {
    .about {
        margin-top: 200%;
    }
    .column {
        width: 100%;
    }
}

@media screen and (max-width: 950px) and (min-height: 1050px) {
    .about {
        position: relative;
    }
    
    .card {
        margin-bottom: 30px;
    }

    .cardfirst {
        margin-top: 100px;
    }

    .about h1 {
        position: relative;
    }

    .topbar {
        margin-bottom: 40%;
    }
}

@media screen and (min-height: 1250px) and (min-width: 1000px) {
    .column {
        width: 100%
    }

    .about {
        margin-top: 150%;
    }
}

@media screen and (min-height: 1400px) and (min-width: 1000px) {
    .about {
        margin-top: 130%;
    }
}

@media screen and (min-height: 1600px) and (min-width: 1000px) {
    .about {
        margin-top: 120%;
    }
}

@media screen and (min-height: 1750px) and (min-width: 1000px) {
    .about {
        margin-top: 115%;
    }
}

@media screen and (min-height: 1900px) and (min-width: 1000px) {
    .about {
        margin-top: 110%;
    }
}

@media screen and (max-width: 1000px) and (min-height: 1330px) {
    .about {
        margin-top: -17%;
    }
    .landscape {
        padding-bottom: 140%;
    }
}

@media screen and (max-width: 1000px) and (min-height: 1230px) {
    .about {
        margin-top: -15%;
    }
    .landscape {
        padding-bottom: 130%;
    }
}

@media screen and (max-width: 1000px) and (min-height: 1150px) {
    .about {
        margin-top: -13%;
    }
    .landscape {
        padding-bottom: 116%;
    }
}

@media screen and (max-width: 1000px) and (min-height: 1080px) {
    .about {
        margin-top: -11%;
    }
}

@media screen and (max-width: 1000px) and (min-height: 1050px) {
    .about {
        margin-top: -10%
    }
}