* {
    -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body, html {
    font-size: 1.3vw;
    color: rgba(0, 0, 0, .87);
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    background: #FBFBFB;
}

.topbar {
    font-family: exo, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    padding: 30px;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
         box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    z-index: 3;
}

.topbar nav {
    float: left;
}

.topbar nav a {
    color: #9F9F9F;
    font-weight: normal;
    text-decoration: none;
    padding: 0 53px;
}

.topbar nav a:hover, .topbar nav .active {
    color: black;
}

.social {
    float: right;
}

.social img {
    width: 2vw;
    height: auto;
}

.social a {
    padding: 0 12px;
    opacity: .5;
}

.social a:hover {
    opacity: 1;
}

.banner {
    height: 427px;
    background: no-repeat center center / cover url("../images/wallpaper.jpg");
}

.body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
}

div, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main {
    background: white;
    width: -webkit-calc(100% - 375px);
    width: -moz-calc(100% - 375px);
    width: calc(100% - 375px);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
         box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
    position: relative;
    z-index: 2;
}

.sidebar {
    width: 375px;
    padding: 40px;
    font-size: 1.4vw;
    position: relative;
    background: #FBFBFB;
    z-index: 1;
}

.sidebar-title {
    font-size: 30px;
    color: black;
    margin: 15px 0;
}

.sidebar-title:first-child {
    margin-top: 0;
}

.sidebar a {
    color: #9F9F9F;
    text-decoration: none;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 6px 0;
}

.sidebar a:hover {
    text-decoration: underline;
}


.sidebar .category-active {
	color: black;
}

.news hr {
    border: none;
    background: #C4C4C4;
    height: 1px;
    margin: 30px 0;
}

.sidebar hr {
    border: none;
    background: #C4C4C4;
    height: 1px;
    margin: 50px 0;
}

.container {
    margin: 0 auto;
    max-width: 940px;
}

.article {
    margin: 0 auto;
    position: relative;
    margin: 50px 0;
    padding-left: 310px;
    min-height: 203px;
    padding-right: 15px;
    justify-items: normal;
}

.news {
    text-align: center;
    margin-left: 20vw;
    font-weight: bold;
    text-decoration: underline;
    padding-right: 15vw;
}

.article a {
    color: inherit;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}


.article {
    position: relative;
    margin: 71px 0;
    padding-left: 333px;
    min-height: 203px;
}

.article a {
    color: inherit;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}

.article-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 308px;
    margin-right: 25px;
}

.article-title::after {
    content:'';
    display: block;
    margin-top: 2px;
    width: 100px;
    height: 4px;
    background: black;
}

blockquote {
    background: rgba(0, 0, 0, .1);
    padding: 10px;  
    position: relative;
}

blockquote::before {
    content:'🙶';
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 60px;
    line-height: 1.4rem;
    z-index: 9;
}

.sidebar li a::after {
    content: attr(data-count);
    float: right;
    background: grey;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    font-size: 19px;
    font-weight: bold;
}

#sidebar-none li a::after {
    float: none;
    background: none;
    content: none;
}

#made {
    padding-bottom: 50px;
}


.article-img img{
    width: 100%;
    height: auto;
}

.article-date {
    font-weight: 300;
    color: rgba(0, 0, 0, .60);
    margin-bottom: 5px;
}

.article-title{
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: "Cardo", sans-serif;
    margin: 0 0 15px 0;
}

.footer {
    clear: both;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    margin-top: 10px;
}

.article-img {
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s
}

.article-img:hover {
    -webkit-transform: scale(1.1) rotate(10deg);
        -ms-transform: scale(1.1) rotate(10deg);
            -moz-transform: scale(1.1) rotate(10deg);
              -o-transform: scale(1.1) rotate(10deg);
         transform: scale(1.1) rotate(10deg);
}

@-webkit-keyframes fun {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
                transform:scale(1) rotate(0deg);
    }
    100% {
        -webkit-transform:scale(1.1) rotate(10deg);
                transform:scale(1.1) rotate(10deg);
    }
}

@-moz-keyframes fun {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
                -moz-transform:scale(1) rotate(0deg);
             transform:scale(1) rotate(0deg);
    }
    100% {
        -webkit-transform:scale(1.1) rotate(10deg);
                -moz-transform:scale(1.1) rotate(10deg);
             transform:scale(1.1) rotate(10deg);
    }
}

@-o-keyframes fun {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
                -o-transform:scale(1) rotate(0deg);
           transform:scale(1) rotate(0deg);
    }
    100% {
        -webkit-transform:scale(1.1) rotate(10deg);
                -o-transform:scale(1.1) rotate(10deg);
           transform:scale(1.1) rotate(10deg);
    }
}

@keyframes fun {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
                -moz-transform:scale(1) rotate(0deg);
                  -o-transform:scale(1) rotate(0deg);
             transform:scale(1) rotate(0deg);
    }
    100% {
        -webkit-transform:scale(1.1) rotate(10deg);
                -moz-transform:scale(1.1) rotate(10deg);
                  -o-transform:scale(1.1) rotate(10deg);
             transform:scale(1.1) rotate(10deg);
    }
}

@media screen and (min-width: 1600px) {
    #axe {
        padding-bottom: 55px;
    }
    #snowman {
        padding-bottom: 85px;
    }
    #leave {
        padding-bottom: 0px;
    }
    #idban {
        padding-bottom: 10px;
    }
    #watch {
        padding-bottom: 75px;
    }
}


@media screen and (min-width: 1600px) {
    .news {
        margin-left: 25%;
    }
    .article {
        margin-left: -10%;
        padding-left: 425px;
    }
    .article-img img {
        width: 400px;
        height: auto;
        padding-left: 0;
    }

    #ski {
        padding-bottom: 90px;
    }
    #leaving {
        padding-bottom: 0px;
    }
    #sardoche {
        padding-bottom: 12px;
    }
    #time {
        padding-bottom: 55px;
    }
    #made {
        padding-bottom: 150px;
    }
}

@media screen and (min-width: 1780px) {
    .news {
        margin-left: 12.5%;
    }
    .article {
        margin-left: -20%;
    }
}


@media screen and (min-width: 1950px) {
    .article {
        margin-left: -28%;
    }
    .news {
        margin-left: 7%;
    }
}

@media screen and (min-width: 2100px) {
    .article {
        margin-left: -37%;
    }
    .news {
        margin-left: 0%;
    }
}

@media screen and (min-width: 2180px) {
    .sidebar li a::after {
        width: 35px;
        height: 35px;
        font-size: 22px;
    }
}

@media screen and (min-width: 2200px) {
    .article {
        margin-left: -42%;
    }
    .news {
        margin-left: -7%;
    }
}

@media screen and (min-width: 2300px) {
    .article {
        margin-left: -47%;
        padding-left: 650px;
    }
    .news {
        margin-left: -16%;
    }

    .article-img img {
        width: 600px;
        height: auto;
        padding-left: 0;
    }

    #ski {
        padding-bottom: 125px;
    }
    #leaving {
        padding-bottom: 15px;
    }
    #sardoche {
        padding-bottom: 60px;
    }
    #time {
        padding-bottom: 90px;
    }
    #made {
        padding-bottom: 185px;
    }
}

@media screen and (min-width: 1600px) {
    #axe {
        padding-bottom: 110x;
    }
    #snowman {
        padding-bottom: 90px;
    }
    #leave {
        padding-bottom: 0px;
    }
    #idban {
        padding-bottom: 10px;
    }
    #watch {
        padding-bottom: 35px;
    }
}

@media screen and (min-width: 2430px) {
    .article {
        margin-left: -54%;
    }
    .news {
        margin-left: -24%;
    }
}

@media screen and (min-width: 2520px) {
    .article {
        margin-left: -60%;
        padding-left: 675px;
        margin-right: -200px;
    }
    
    .news {
        margin-left: -30%;
    }

    .article-img img {
        width: 620px;
        height: auto;
        padding-left: 0;
    }

    #ski {
        padding-bottom: 190px;
    }
    #leaving {
        padding-bottom: 60px;
    }
    #sardoche {
        padding-bottom: 110px;
    }
    #time {
        padding-bottom: 150px;
    }
    #made {
        padding-bottom: 250px;
    }
}

@media screen and (min-width: 2520px) {
    #axe {
        padding-bottom: 150px;
    }
    #snowman {
        padding-bottom: 200px;
    }
    #leave {
        padding-bottom: 55px;
    }
    #idban {
        padding-bottom: 110px;
    }
    #watch {
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 2650px) {
    .article {
        margin-left: -66%;
    }
    .news {
        margin-left: -36%;
    }
}

@media screen and (min-width: 2720px) {
    .sidebar {
        width: 450px;
    }
}

@media screen and (min-width: 2750px) {
    .article {
        margin-left: -70%;
    }
    .news {
        margin-left: -39%;
    }
}

@media screen and (min-width: 2840px) {
    .article {
        margin-left: -76%;
        padding-left: 825px;
        margin-right: -500px;
    }
    .news {
        margin-left: -42%;
    }
    .article-img img {
        width: 750px;
        height: auto;
    }
    #ski {
        padding-bottom: 250px;
    }
    #leaving {
        padding-bottom: 100px;
    }
    #sardoche {
        padding-bottom: 250px;
    }
    #time {
        padding-bottom: 195px;
    }
    #made {
        padding-bottom: 350px;
    }
}

@media screen and (min-width: 2840px) {
    #axe {
        padding-bottom: 200px;
    }
    #snowman {
        padding-bottom: 260px;
    }
    #leave {
        padding-bottom: 105px;
    }
    #idban {
        padding-bottom: 250px;
    }
    #watch {
        padding-bottom: 150px;
    }
}

@media screen and (min-width: 3000px) {
    .article {
        margin-left: -82%;
    }
    .news {
        margin-left: -50%;
    }
}

@media screen and (min-width: 3110px) {
    .sidebar {
        width: 512px;
    }
}

@media screen and (min-width: 3180px) {
    .article {
        margin-left: -88%;
    }
    .news {
        margin-left: -56%;
    }
}

@media screen and (min-width: 3300px) {
    .sidebar li a::after {
        width: 37px;
        height: 37px;
        font-size: 24px;
    }
}

@media screen and (min-width: 3350px) {
    .article {
        margin-left: -96%;
    }
    .news {
        margin-left: -62%;
    }
}

@media screen and (min-width: 3490px) {
    .sidebar {
        width: 624px;
    }
    .article {
        margin-right: -750px;
    }
}

@media screen and (min-width: 3570px) {
    .article {
        margin-left: -103%;
    }
    .news {
        margin-left: -66%;
    }
}

@media screen and (min-width: 3750px) {
    .article {
        margin-left: -112%;
    }
    .news {
        margin-left: -70%;
    }
}

@media screen and (min-width: 3800px) {
    .article {
        margin-left: -114%;
    }
    .news {
        margin-left: -72%;
    }
}

@media screen and (max-width: 1100px) {
    .banner {
        padding-top: 75vw;
    }

    .container {
        padding: 0 20px;
    }
    .article {
        padding-left: 0;
        padding-bottom: 5%;
    }
    .article-img {
        position: static;
        margin-bottom: 1rem;
        display: block;
        width: 100%;
    }

    h1.news{
        font-size: 5vw;
        padding-right: 20vw;
    }
}

@media screen and (max-width: 1100px) {

    .sidebar li a::after {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }

    .sidebar-title {
        font-size: 6vw;
    }

    .sidebar li {
        font-size: 4.3vw;
    }

    body, html {
        font-size: 3.1vw;
    }
    
    .topbar {
        font-size: 5.8vw;
        position: absolute;
    }

    .social img {
        width: 5.2vw;
        height: auto;
    }

    .topbar nav, .social {
        float: none;
        text-align: center;
    }

    .topbar nav {
        margin-bottom: .5vw;
    }

    .topbar nav a {
        white-space: nowrap;
        display: inline-block;
        margin: 0 20px 5px 20px;
    }
}

@media screen and (max-width: 1100px){
    .body {
        display: block;
    }
    .main {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
    .main .container {
        overflow: hidden;
    }
}

@media screen and (max-width: 725px) {
    .sidebar li a::after {
        width: 30px;
        height: 30px;
        font-size: 17px;
    }
}

@media screen and (max-width: 625px) {
    .banner {
        padding-top: 100vw;
    }
}

@media screen and (max-width: 435px) {
    .sidebar li a::after {
        width: 23px;
        height: 23px;
        font-size: 14.7px;
    }
}

@media screen and (max-width: 315px) {
    .sidebar li a::after {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
}