* {
    -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body, html {
    font-size: 1.3vw;
    color: rgba(0, 0, 0, .87);
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    background: #FBFBFB;
}

.topbar {
    font-family: exo, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    padding: 30px;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
         box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    z-index: 3;
}

.topbar nav {
    float: left;
}

.topbar nav a {
    color: #9F9F9F;
    font-weight: normal;
    text-decoration: none;
    padding: 0 53px;
}

.topbar nav a:hover, .topbar nav .active {
    color: black;
}

.social {
    float: right;
}

.social a {
    padding: 0 12px;
    opacity: .5;
}

.social a:hover {
    opacity: 1;
}

.social img {
    width: 2vw;
    height: auto;
}

.banner {
    height: 427px;
    background: no-repeat center center / cover url("../images/wallpaper.jpg");
}

.body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
}

div, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.main {
    background: white;
    width: -webkit-calc(100% - 375px);
    width: -moz-calc(100% - 375px);
    width: calc(100% - 375px);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
         box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
    position: relative;
    z-index: 2;
}

.leftbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	display: box;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        -webkit-flex-direction: column;
	           -moz-box-orient: vertical;
	           -moz-box-direction: normal;
	        flex-direction: column;
	float: left;
}

.leftbar .banner-advertisement {
	margin-bottom: 50px;
}

.credits {
    left: 24%;
	text-align: center;
	width: 280px;
	padding: 10px;
	font-size: 17px;
	position: relative;
	background: #FBFBFB;
	z-index: 2;
	bottom: -75%;
}

.credits {
	float: left;
    font-size: 0.75rem;
    font-style: italic;
}

.credits .credits-title{
    font-size: 1rem;
    text-decoration: underline;
    font-weight: bold;
}

.banner-advertisement {
    position: relative;
    left: 0;
    top: 0;
    width: 140%;
    margin-right: 25px;
    z-index: 3;
    padding-right: 10px;
	background: no-repeat center center / cover;
	height: 600px;
}

.sidebar {
    width: 375px;
    padding: 40px;
    font-size: 1.4vw;
    position: relative;
    background: #FBFBFB;
    z-index: 1;
}

.sidebar-title {
    font-size: 30px;
    color: black;
    margin: 15px 0;
}

.sidebar-title:first-child {
    margin-top: 0;
}

.sidebar a {
    color: #9F9F9F;
    text-decoration: none;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 6px 0;
}

.sidebar a:hover {
    text-decoration: underline;
}


.sidebar .category-active {
	color: black;
}

.news hr {
    border: none;
    background: #C4C4C4;
    height: 1px;
    margin: 30px 0;
}

.sidebar hr {
    border: none;
    background: #C4C4C4;
    height: 1px;
    margin: 50px 0;
}

.container {
    margin: 0 auto;
    max-width: 940px;
}

.article {
    margin: 0 auto;
    position: relative;
    margin: 50px 0;
    padding-left: 310px;
    min-height: 203px;
    padding-right: 15px;
    justify-items: normal;
}

.news {
    text-align: center;
    margin-left: 15rem;
    font-weight: bold;
    text-decoration: underline;
}

.article a {
    color: inherit;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}


.article {
    position: relative;
    margin: 50px 0;
    padding-left: 333px;
    min-height: 203px;
}

.article a {
    color: inherit;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}

.article-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 308px;
    margin-right: 25px;
}
.article-title::after {
    content:'';
    display: block;
    width: 100px;
    height: 4px;
    background: black;
}

blockquote {
    background: rgba(0, 0, 0, .1);
    padding: 10px;  
    position: relative;
}

blockquote::before {
    content:'❝';
    position: absolute;
    top: -1.5px;
    left: 5px;
    font-size: 50px;
    line-height: 1.4rem;
    z-index: 9;
}

blockquote::after {
    z-index: 9;
    content:'❝';
    position: absolute;
    bottom: -26px;
    right: 5px;
    font-size: 50px;
    line-height: 1.4rem;
}

.sidebar li a::after {
    content: attr(data-count);
    float: right;
    background: grey;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
            font-size: 19px;
    font-weight: bold;
}

#sidebar-none li a::after {
    float: none;
    background: none;
    content: none;
}

.article-img img{
    width: 100%;
    height: auto;
}

.article-date {
    font-weight: 300;
    color: rgba(0, 0, 0, .60);
    margin-bottom: 5px;
}

.article-title{
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: "Cardo", sans-serif;
    margin: 0 0 15px 0;
}

.video {
    text-align: center;
}

.footer {
    clear: both;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    margin-top: 10px;
}

.quote {
    padding-left: 7%;
    margin-top: -2.1%;
    text-align: left;
    font-style: italic;
    font-size: .7rem;
}

cap {
    text-transform: capitalize;
}

.sources {
    margin-top: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 100;
    line-height: .23rem;
    text-align: left;
}

.sources-title {
    text-decoration: underline;
    color: black;
}

.reference a{
    font: 12px;
    color: #0645ad;
    white-space: nowrap;
}

.reference a:visited {
    color: #0b0080;
}

.graphic-artist a{
    text-decoration: none;
    color: blueviolet;
}

.graphic-artist a:hover {
    text-decoration: underline;
}

.sources p {
    color: blue;
}


.article-img {
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s
}

.article-img:hover {
    -webkit-transform: scale(1.1) rotate(10deg);
        -ms-transform: scale(1.1) rotate(10deg);
            -moz-transform: scale(1.1) rotate(10deg);
              -o-transform: scale(1.1) rotate(10deg);
         transform: scale(1.1) rotate(10deg);
}

@-webkit-keyframes fun {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
                transform:scale(1) rotate(0deg);
    }
    100% {
        -webkit-transform:scale(1.1) rotate(10deg);
                transform:scale(1.1) rotate(10deg);
    }
}

@-moz-keyframes fun {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
                -moz-transform:scale(1) rotate(0deg);
             transform:scale(1) rotate(0deg);
    }
    100% {
        -webkit-transform:scale(1.1) rotate(10deg);
                -moz-transform:scale(1.1) rotate(10deg);
             transform:scale(1.1) rotate(10deg);
    }
}

@-o-keyframes fun {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
                -o-transform:scale(1) rotate(0deg);
           transform:scale(1) rotate(0deg);
    }
    100% {
        -webkit-transform:scale(1.1) rotate(10deg);
                -o-transform:scale(1.1) rotate(10deg);
           transform:scale(1.1) rotate(10deg);
    }
}

@keyframes fun {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
                -moz-transform:scale(1) rotate(0deg);
                  -o-transform:scale(1) rotate(0deg);
             transform:scale(1) rotate(0deg);
    }
    100% {
        -webkit-transform:scale(1.1) rotate(10deg);
                -moz-transform:scale(1.1) rotate(10deg);
                  -o-transform:scale(1.1) rotate(10deg);
             transform:scale(1.1) rotate(10deg);
    }
}

@media screen and (min-width: 1630px) {
    .web-article {
        margin-left: -40px;
        margin-right: -115px;
    }
    .banner {
        height: 550px;
    }
}

@media screen and (min-width: 1720px) {
    .web-article {
        margin-left: -70px;
        margin-right: -160px;
    }
}

@media screen and (min-width: 1780px) {
    .web-article {
        margin-left: -100px;
        margin-right: -190px;
    }
    .banner-advertisement {
        height: 900px;
    }
}

@media screen and (min-width: 1850px) {
    .web-article {
        margin-left: -140px;
        margin-right: -230px;
    }
}

@media screen and (min-width: 1930px) {
    .web-article {
        margin-left: -180px;
        margin-right: -250px;
    }
}

@media screen and (min-width: 1980px) {
    .web-article {
        margin-left: -210px;
    }
}

@media screen and (min-width: 2020px) {
    .web-article {
        margin-right: -55%;
        margin-left: -43%;
    }
}

@media screen and (min-width: 2110px) {
    .web-article {
        margin-right: -60%;
        margin-left: -47%;
    }
}

@media screen and (min-width: 2180px) {
    .web-article {
        margin-right: -70%;
        margin-left: -53%;
    }
    .sidebar li a::after {
        width: 35px;
        height: 35px;
        font-size: 22px;
    }
}

@media screen and (min-width: 2235px) {
    .web-article {
        margin-right: -72%;
        margin-left: -58%;
    }
}

@media screen and (min-width: 2280px) {
    .web-article {
        margin-right: -67%;
        margin-left: -65%;
    }
}

@media screen and (min-width: 2370px) {
    .web-article {
        margin-left: -70%;
    }
}

@media screen and (min-width: 2450px) {
    .web-article {
        margin-left: -77%;
        margin-right: -85%;
    }
}

@media screen and (min-width: 2550px) {
    .web-article {
        margin-left: -84%;
        margin-right: -90%;
    }
}

@media screen and (min-width: 2550px) {
    .web-article {
        margin-left: -90%;
        margin-right: -95%;
    }
}

@media screen and (min-width: 2650px) {
    .web-article {
        margin-left: -98%;
        margin-right: -100%;
    }
}

@media screen and (min-width: 2720px) {
    .web-article {
        margin-left: -85%;
    }
    .banner-advertisement {
        width: 450px;
    }
    .sidebar {
        width: 450px;
    }
}

@media screen and (min-width: 2720px) {
    .web-article {
        margin-left: -85%;
    }
}

@media screen and (min-width: 2830px) {
    .web-article {
        margin-left: -93%;
        margin-right: -110%;
    }
}

@media screen and (min-width: 3010px) {
    .web-article {
        margin-left: -103%;
        margin-right: -115%;
    }
}

@media screen and (min-width: 3110px) {
    .web-article {
        margin-left: -98%;
    }
    .banner-advertisement {
        width: 512px;
    }
    .sidebar {
        width: 512px;
    }
}

@media screen and (min-width: 3160px) {
    .web-article {
        margin-left: -106%;
        margin-right: -130%;
    }
}

@media screen and (min-width: 3300px) {
    .web-article {
        margin-left: -113%;
        margin-right: -145%;
    }
    .sidebar li a::after {
        width: 37px;
        height: 37px;
        font-size: 24px;
    }
}

@media screen and (min-width: 3490px) {
    .web-article {
        margin-left: -100%;
        margin-right: -135%;
    }
    .banner-advertisement {
        width: 624px;
    }
    .sidebar {
        width: 624px;
    }
}

@media screen and (min-width: 3300px) {
    .web-article {
        margin-left: -114%;
        margin-right: -140%;
    }
}


@media screen and (min-width: 3800px) {
    .web-article {
        margin-left: -130%;
        margin-right: -170%;
    }
}

@media screen and (max-width: 1450px) {
    .banner-advertisement {
        width: 130%;
    }
}

@media screen and (max-width: 1400px) {
    .banner-advertisement {
        width: 120%;
    }
}


@media screen and (max-width: 1380px) {
    .article {
        padding-left: 370px;
    }
}

@media screen and (max-width: 1345px) {
    .banner-advertisement {
        width: 110%;
    }
}

@media screen and (max-width: 1300px) {
    .banner-advertisement {
        display: none;
    }

    .credits {
        display: block;
        left: 0;
    }
    .leftbar {
        margin-left: 30vw;
        float: none;
    }
    .article {
        padding-left: 13px;
    }

}

@media screen and (max-width: 1102px) {
    .container {
        padding: 0 20px;
    }
    .article {
        padding-left: 0;
    }
    .article-img {
        position: static;
        margin-bottom: 1rem;
        display: block;
        width: 100%;
    }
    .banner-advertisement {
        display: none;
    }
    .credits {
        display: block;

    }
}

@media screen and (max-width: 1100px){
    .body {
        display: block;
    }
    .main {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
    .main .container {
        overflow: hidden;
    }
}

@media screen and (max-width: 1100px) {
    .banner {
        padding-top: 75vw;
    }

    .container {
        padding: 0 20px;
    }
    .article {
        padding-left: 0;
        padding-bottom: 5%;
    }
    .article-img {
        position: static;
        margin-bottom: 1rem;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .sidebar-title {
        font-size: 6vw;
    }

    .sidebar li {
        font-size: 4vw;
    }

    body, html {
        font-size: 3.1vw;
    }
    
    .topbar {
        font-size: 5.8vw;
        position: absolute;
    }

    .social img {
        width: 5.2vw;
        height: auto;
    }

    .topbar nav, .social {
        float: none;
        text-align: center;
    }

    .topbar nav {
        margin-bottom: 15px;
    }

    .topbar nav a {
        display: inline-block;
        white-space: nowrap;
        margin: 0 20px 5px 20px;
    }
}

@media screen and (max-width: 725px) {
    .sidebar li a::after {
        width: 30px;
        height: 30px;
        font-size: 17px;
    }
}

@media screen and (max-width: 685px) {
    .leftbar {
        margin-left: 24%
    }
}

@media screen and (max-width: 625px) {
    .banner {
        padding-top: 100vw;
    }
}

@media screen and (max-width: 620px) {
    .leftbar {
        margin-left: 23%;
    }
    .quote {
        padding-left: 16%;
    }
}

@media screen and (max-width: 485px) {
    .leftbar {
        margin-left: 19%
    }
}

@media screen and (max-width: 435px) {
    .sidebar li a::after {
        width: 23px;
        height: 23px;
        font-size: 14.7px;
    }
}

@media screen and (max-width: 390px) {
    .leftbar {
        margin-left: 5%;
    }
}

@media screen and (max-width: 365px) {
    .leftbar {
        margin-left: 10%;
    }
}

@media screen and (max-width: 315px) {
    .sidebar li a::after {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
}
@media screen and (max-width: 310px) {
    .leftbar {
        margin-left: 0%;
    }
}

@media screen and (max-width: 285px) {
    .leftbar {
        margin-left: -10%;
    }
}

@media screen and (max-width: 215px) {
    .leftbar {
        margin-left: -15%;
    }
}


@media screen and (max-width: 200px) {
    .leftbar {
        margin-left: -25%;
    }
}