* {
    -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
         box-sizing: border-box;
}

html, body{
    height: 100%;
  }


body { 
        background-image: url(../images/landscape.jpg) ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        -webkit-background-size:  cover;
           -moz-background-size:  cover;
             -o-background-size:  cover;
                background-size:  cover;
        background-color: #999;
}

body, html {
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    height: 100%;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    background-color: white;
    z-index: 3;
	font-size: 1.3vw;
}

.topbar nav {
    float: left;
}

.topbar nav a {
    color: #9F9F9F;
    font-weight: normal;
    text-decoration: none;
    padding: 0 53px;
}

.topbar nav a:hover, .topbar nav .active {
    color: black;
}

.social {
    float: right;
}

.social a {
    padding: 0 12px;
    opacity: .5;
}

.social a:hover {
    opacity: 1;
}

.social img {
    width: 2vw;
    height: auto;
}

div, body{
    margin: 0;
    padding: 0;
    font-family: exo, sans-serif;
}

.wrapper {
    height: 100%; 
    width: 100%; 
}

.about h1 {
    text-transform: uppercase;
}

.about {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 30px;
  text-align: center;
  margin-top: 4%;
}

.card {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
         box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
  }

.card {
    width: 205px;
    height: 326px;
}

.cardfirst div {
    margin-top: -10px;
}

.cardsecond div {
    margin-top: -10px;
}

.row img{
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
            -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
  }
  
.container {
    padding: 2px 16px;
  }

.column {
    float: left;
    width: 25%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}  
@media screen and (max-width: 1100px) {

    .last-card {
        padding-bottom: 2%;
    }

    .card {
        width: auto;
        height: auto;
    }

    .about {
        margin-top: 180%;
    }
    
    .row {
        margin-bottom: 50px;
    }

    .column {
        width: 100%;
    }

    body, html {
        font-size: 3.1vw;
    }
    
    .topbar {
        font-size: 5.8vw;
        position: absolute;
    }

    .social img {
        width: 5.2vw;
        height: auto;
    }

    .topbar nav, .social {
        float: none;
        text-align: center;
    }

    .topbar nav {
        margin-bottom: .5vw;
    }

    .topbar nav a {
        display: inline-block;
        white-space: nowrap;
        margin: 0 20px 5px 20px;
    }

    .main {
        width: 100%;
    }

    .main .container {
        overflow: hidden;
    }
}


/* Media query with screen with width max of 1100px */

@media screen and (max-height: 2900px) and (max-width: 1100px) {
    .about {
        margin-top: 123%;
    }
}

@media screen and (max-height: 2720px) and (max-width: 1100px) {
    .about {
        margin-top: 131%;
    }
}

@media screen and (max-height: 2515px) and (max-width: 1100px) {
    .about {
        margin-top: 140.3%;
    }
}

@media screen and (max-height: 2320px) and (max-width: 1100px) {
    .about {
        margin-top: 149.3%;
    }
}

@media screen and (max-height: 2110px) and (max-width: 1100px) {
    .about {
        margin-top: 159%;
    }
}

@media screen and (max-height: 1885px) and (max-width: 1100px) {
    .about {
        margin-top: 169%;
    }
}

@media screen and (max-height: 1665px) and (max-width: 1100px) {
    .about {
        margin-top: 178.5%;
    }
}

@media screen and (max-height: 1450px) and (max-width: 1100px) {
    .about {
        margin-top: 188.3%;
    }
}

@media screen and (max-height: 1230px) and (max-width: 1100px) {
    .about {
        margin-top: 198.3%;
    }
}

@media screen and (max-height: 1000px) and (max-width: 1100px) {
    .about {
        margin-top: 209%;
    }
}

@media screen and (max-height: 770px) and (max-width: 1100px) {
    .about {
        margin-top: 219.3%;
    }
}

@media screen and (max-height: 560px) and (max-width: 1100px) {
    .about {
        margin-top: 227%;
    }
}

@media screen and (max-height: 395px) and (max-width: 1100px) {
    .about {
        margin-top: 240%;
    }
}


/* Media query with screen with width max of 1050px */

@media screen and (max-height: 2900px) and (max-width: 1050px) {
    .about {
        margin-top: 119%;
    }
}

@media screen and (max-height: 2650px) and (max-width: 1050px) {
    .about {
        margin-top: 131%;
    }
}

@media screen and (max-height: 2400px) and (max-width: 1050px) {
    .about {
        margin-top: 143%;
    }
}

@media screen and (max-height: 2160px) and (max-width: 1050px) {
    .about {
        margin-top: 154%;
    }
}

@media screen and (max-height: 1920px) and (max-width: 1050px) {
    .about {
        margin-top: 165%;
    }
}

@media screen and (max-height: 1690px) and (max-width: 1050px) {
    .about {
        margin-top: 176%;
    }
}

@media screen and (max-height: 1465px) and (max-width: 1050px) {
    .about {
        margin-top: 187%;
    }
}

@media screen and (max-height: 1220px) and (max-width: 1050px) {
    .about {
        margin-top: 198.3%;
    }
}

@media screen and (max-height: 1000px) and (max-width: 1050px) {
    .about {
        margin-top: 209.3%;
    }
}

@media screen and (max-height: 770px) and (max-width: 1050px) {
    .about {
        margin-top: 220%;
    }
}

@media screen and (max-height: 520px) and (max-width: 1050px) {
    .about {
        margin-top: 228%;
    }
}

@media screen and (max-height: 360px) and (max-width: 1050px) {
    .about {
        margin-top: 234%;
    }
}

/* Media query with screen with width max of 950px */

@media screen and (max-height: 2900px) and (max-width: 950px) {
    .about {
        margin-top: 110%;
    }
}

@media screen and (max-height: 2570px) and (max-width: 950px) {
    .about {
        margin-top: 127%;
    }
}

@media screen and (max-height: 2275px) and (max-width: 950px) {
    .about {
        margin-top: 140%;
    }
}

@media screen and (max-height: 2040px) and (max-width: 950px) {
    .about {
        margin-top: 152%;
    }
}

@media screen and (max-height: 1820px) and (max-width: 950px) {
    .about {
        margin-top: 164.3%;
    }
}

@media screen and (max-height: 1590px) and (max-width: 950px) {
    .about {
        margin-top: 175.8%;
    }
}

@media screen and (max-height: 1370px) and (max-width: 950px) {
    .about {
        margin-top: 187%;
    }
}

@media screen and (max-height: 1135px) and (max-width: 950px) {
    .about {
        margin-top: 199%;
    }
}

@media screen and (max-height: 915px) and (max-width: 950px) {
    .about {
        margin-top: 211%;
    }
}

@media screen and (max-height: 715px) and (max-width: 950px) {
    .about {
        margin-top: 222%;
    }
}

@media screen and (max-height: 470px) and (max-width: 950px) {
    .about {
        margin-top: 226%;
    }
}

@media screen and (max-height: 350px) and (max-width: 950px) {
    .about {
        margin-top: 234%;
    }
}

/* Media query with screen with width max of 800px */

@media screen and (max-height: 2900px) and (max-width: 800px) {
    .about {
        margin-top: 80%;
    }
}

@media screen and (max-height: 2685px) and (max-width: 800px) {
    .about {
        margin-top: 92%;
    }
}

@media screen and (max-height: 2500px) and (max-width: 800px) {
    .about {
        margin-top: 103%;
    }
}

@media screen and (max-height: 2310px) and (max-width: 800px) {
    .about {
        margin-top: 115.5%;
    }
}

@media screen and (max-height: 2125px) and (max-width: 800px) {
    .about {
        margin-top: 126.3%;
    }
}

@media screen and (max-height: 1915px) and (max-width: 800px) {
    .about {
        margin-top: 139.3%;
    }
}

@media screen and (max-height: 1730px) and (max-width: 800px) {
    .about {
        margin-top: 151.3%;
    }
}

@media screen and (max-height: 1530px) and (max-width: 800px) {
    .about {
        margin-top: 163.8%;
    }
}

@media screen and (max-height: 1315px) and (max-width: 800px) {
    .about {
        margin-top: 177%;
    }
}

@media screen and (max-height: 1120px) and (max-width: 800px) {
    .about {
        margin-top: 189.5%;
    }
}

@media screen and (max-height: 920px) and (max-width: 800px) {
    .about {
        margin-top: 202%;
    }
}

@media screen and (max-height: 725px) and (max-width: 800px) {
    .about {
        margin-top: 214%;
    }
}

@media screen and (max-height: 540px) and (max-width: 800px) {
    .about {
        margin-top: 224%;
    }
}

@media screen and (max-height: 360px) and (max-width: 800px) {
    .about {
        margin-top: 227%;
    }
}


/* Media query with screen with width max of 725px */

@media screen and (max-height: 2900px) and (max-width: 725px) {
    .about {
        margin-top: 65%;
    }
}


@media screen and (max-height: 2650px) and (max-width: 725px) {
    .about {
        margin-top: 82%;
    }
}


@media screen and (max-height: 2405px) and (max-width: 725px) {
    .about {
        margin-top: 100%;
    }
}

@media screen and (max-height: 2160px) and (max-width: 725px) {
    .about {
        margin-top: 116%;
    }
}

@media screen and (max-height: 1925px) and (max-width: 725px) {
    .about {
        margin-top: 133%;
    }
}

@media screen and (max-height: 1670px) and (max-width: 725px) {
    .about {
        margin-top: 150%;
    }
}

@media screen and (max-height: 1400px) and (max-width: 725px) {
    .about {
        margin-top: 169%;
    }
}

@media screen and (max-height: 1135px) and (max-width: 725px) {
    .about {
        margin-top: 188%;
    }
}

@media screen and (max-height: 875px) and (max-width: 725px) {
    .about {
        margin-top: 205%;
    }
}

@media screen and (max-height: 630px) and (max-width: 725px) {
    .about {
        margin-top: 212%;
    }
}

@media screen and (max-height: 475px) and (max-width: 725px) {
    .about {
        margin-top: 223%;
    }
}

@media screen and (max-height: 370px) and (max-width: 725px) {
    .about {
        margin-top: 235%;
    }
}


/* Media query with screen with width max of 560px */

@media screen and (max-height: 2900px) and (max-width: 560px) {
    .about {
        margin-top: 15%;
    }
}

@media screen and (max-height: 2740px) and (max-width: 560px) {
    .about {
        margin-top: 29%;
    }
}

@media screen and (max-height: 2570px) and (max-width: 560px) {
    .about {
        margin-top: 44%;
    }
}

@media screen and (max-height: 2400px) and (max-width: 560px) {
    .about {
        margin-top: 59%;
    }
}

@media screen and (max-height: 2240px) and (max-width: 560px) {
    .about {
        margin-top: 73.3%;
    }
}

@media screen and (max-height: 2055px) and (max-width: 560px) {
    .about {
        margin-top: 90%;
    }
}

@media screen and (max-height: 1865px) and (max-width: 560px) {
    .about {
        margin-top: 106.6%;
    }
}

@media screen and (max-height: 1690px) and (max-width: 560px) {
    .about {
        margin-top: 122.3%;
    }
}

@media screen and (max-height: 1500px) and (max-width: 560px) {
    .about {
        margin-top: 139.3%;
    }
}

@media screen and (max-height: 1310px) and (max-width: 560px) {
    .about {
        margin-top: 156.3%;
    }
}

@media screen and (max-height: 1125px) and (max-width: 560px) {
    .about {
        margin-top: 172.8%;
    }
}

@media screen and (max-height: 940px) and (max-width: 560px) {
    .about {
        margin-top: 189.3%;
    }
}

@media screen and (max-height: 750px) and (max-width: 560px) {
    .about {
        margin-top: 206.1%;
    }
}

@media screen and (max-height: 560px) and (max-width: 560px) {
    .about {
        margin-top: 215%;
    }
}

@media screen and (max-height: 435px) and (max-width: 560px) {
    .about {
        margin-top: 230%;
    }
}


/* Media query for screen with width max of 425px */

@media screen and (max-height: 2900px) and (max-width: 425px) {
    .about {
        margin-top: -58.5%;
    }
}

@media screen and (max-height: 2705px) and (max-width: 425px) {
    .about {
        margin-top: -35.6%;
    }
}

@media screen and (max-height: 2510px) and (max-width: 425px) {
    .about {
        margin-top: -12.8%;
    }
}

@media screen and (max-height: 2315px) and (max-width: 425px) {
    .about {
        margin-top: 10.4%;
    }
}

@media screen and (max-height: 2115px) and (max-width: 425px) {
    .about {
        margin-top: 34%;
    }
}


@media screen and (max-height: 1920px) and (max-width: 425px) {
    .about {
        margin-top: 56.7%;
    }
}

@media screen and (max-height: 1725px) and (max-width: 425px) {
    .about {
        margin-top: 79.6%;
    }
}

@media screen and (max-height: 1530px) and (max-width: 425px) {
    .about {
        margin-top: 102.4%;
    }
}

@media screen and (max-height: 1335px) and (max-width: 425px) {
    .about {
        margin-top: 125.3%;
    }
}

@media screen and (max-height: 1140px) and (max-width: 425px) {
    .about {
        margin-top: 148.4%;
    }
}

@media screen and (max-height: 945px) and (max-width: 425px) {
    .about {
        margin-top: 171.1%;
    }
}

@media screen and (max-height: 750px) and (max-width: 425px) {
    .about {
        margin-top: 194.4%;
    }
}

@media screen and (max-height: 560px) and (max-width: 425px) {
    .about {
        margin-top: 210%;
    }
}

@media screen and (max-height: 410px) and (max-width: 425px) {
    .about {
        margin-top: 220%;
    }
}

/* Media query for screen with width max of 350px */

@media screen and (max-height: 2900px) and (max-width: 350px) {
    .about {
        margin-top: -138%;
    }
}

@media screen and (max-height: 2730px) and (max-width: 350px) {
    .about {
        margin-top: -114%;
    }
}

@media screen and (max-height: 2565px) and (max-width: 350px) {
    .about {
        margin-top: -90%;
    }
}

@media screen and (max-height: 2400px) and (max-width: 350px) {
    .about {
        margin-top: -66.8%;
    }
}

@media screen and (max-height: 2240px) and (max-width: 350px) {
    .about {
        margin-top: -44%;
    }
}

@media screen and (max-height: 2075px) and (max-width: 350px) {
    .about {
        margin-top: -21%;
    }
}

@media screen and (max-height: 1920px) and (max-width: 350px) {
    .about {
        margin-top: 1.4%;
    }
}

@media screen and (max-height: 1760px) and (max-width: 350px) {
    .about {
        margin-top: 22.5%;
    }
}

@media screen and (max-height: 1615px) and (max-width: 350px) {
    .about {
        margin-top: 43%;
    }
}


@media screen and (max-height: 1470px) and (max-width: 350px) {
    .about {
        margin-top: 64.2%;
    }
}


@media screen and (max-height: 1320px) and (max-width: 350px) {
    .about {
        margin-top: 85.6%;
    }
}


@media screen and (max-height: 1170px) and (max-width: 350px) {
    .about {
        margin-top: 108%;
    }
}


@media screen and (max-height: 1015px) and (max-width: 350px) {
    .about {
        margin-top: 128%;
    }
}


@media screen and (max-height: 870px) and (max-width: 350px) {
    .about {
        margin-top: 150%;
    }
}


@media screen and (max-height: 725px) and (max-width: 350px) {
    .about {
        margin-top: 172%;
    }
}


@media screen and (max-height: 590px) and (max-width: 350px) {
    .about {
        margin-top: 190%;
    }
}

@media screen and (max-height: 460px) and (max-width: 350px) {
    .about {
        margin-top: 210%;
    }
}


@media screen and (max-height: 310px) and (max-width: 350px) {
    .about {
        margin-top: 220%;
    }
}